.App {
  text-align: center;
}

body {
  background: rgb(54, 54, 54);
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(112, 112, 112);
  color: aliceblue;
}

.Links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: aliceblue;
  text-decoration: none;
}

li.liNav {
  color: aliceblue;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* a:hover, a:active, a:focus {
  color: rgb(167, 247, 47);
}

a:link {
  color: rgb(140, 207, 39);
} */

.current { 
  background-color: rgb(2, 115, 167);
  color: rgb(54, 54, 54);
}